# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)

When I tried coercing the Price values without replacing commas with the empty string, any value that exceeded 3 digits were truncated because the comma that was in the number greater than 999 caused the number to be treated as a string. Thus, I had to get rid of the commas for the numbers that exceeded 999 for them to be treated properly during the typecast step. I ended up with 0 missing values after cleaning the variable.



2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.

I wanted to combine some of the Type categories to avoid redundancy. For example, several types were related to watercrafts (e.g. "Boating" and "Boat"), and they could easily be merged into one general category. A similar phenomenon occurred with the types related to unknown/incomplete values, so it was more practical to merge those types to just be "nan" values.

3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

I looked in the pretrial data codebook, and the SentenceTypeAllChargesAtConvictionInContactEvent variable has a code of 4 if "charges in cohort contact resulted in pending, dismissed, deferred, etc." which would indicate that the ImposedSentenceAllChargeInContactEvent (i.e. the total imposed sentence term for any charges) should be 0. Thus, for the "ImposedSentenceAllChargeInContactEvent" dataframe, I replaced the values with 0 when the "SentenceTypeAllChargesAtConvictionInContactEvent" value is type 4.

In [14]:
# ------ code for q2.1 ------
import numpy as np # Import the numpy package into your workspace
import matplotlib.pyplot as plt # Import matplotlib into your workspace
import pandas as pd  # Import the pandas package into your workspace

df = pd.read_csv('/home/airbnb_hw.csv',low_memory=False)
df.head()

price_df = df["Price"]

print('Before coercion: \n', price_df .describe(),'\n') # price variable not read by pandas as a number
# df[var].hist(bins=50) # Initial histogram; check out the x axis

# before coercion, need to get rid of comma separators like in 8,000 --> coercing without this step
# causes all values to be numeric BUT only 3 digits long

price_df = price_df.str.replace(",", "") # replace commas w/ empty string
print(price_df.unique())

# coerce Price to numeric
price_df = pd.to_numeric(price_df , errors='coerce') # Coerce the variable to numeric

# after coercion
print('After coercion: \n', price_df.describe(),'\n') # price variable not read by pandas as a number

df.head()

print(price_df.unique())

print( 'Total missing: ', sum( price_df.isnull() ) ) # This converts all the values

Before coercion:
 count     30478
unique      511
top         150
freq       1481
Name: Price, dtype: object

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1500' '83' '96' '1800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1300' '440' '599' '357' '1239' '495'
 '127' '5999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2750' '4750' '432' '675' '167' '390' '298' '339' '194' '302' '211'
 '595' '191' '53' '361' '480' '8000' '4500' '459' '997' '345' '216' '218'
 '111' '735' '276' '91' '490' '850' '398' '36' '775' '267' '625' '336'
 '2500' '176' '725' '3750' '469' '106' '460' '287' '575' '227' '263' '25'
 '228' '208' '177' '880' '148' '116' '685' '470' '217' '164' '61' '645'
 '699' '405' '252' '319' '268' '419' '343' '525' '311' '840' '154' '294'
 '950' '409' '184' '257' '204' '241' '2000' '412' '121' '288' '196' '900'
 '647' '524' '1750' '309' '510' '1495' '1700' '799' '383' '372' '492'
 '327' '1999' '656' '224' '173' '875' '1170' '795' '690' '146' '465'
 '1100' '151' '274' '429' '825' '282' '256' '1111' '620' '271' '161' '51'
 '855' '579' '1174' '430' '20' '899' '649' '485' '181' '455' '4000' '243'
 '342' '590' '560' '374' '437' '232' '359' '985' '31' '244' '254' '723'
 '237' '428' '370' '34' '1400' '580' '2520' '221' '749' '1600' '2695'
 '306' '202' '680' '570' '520' '223' '2295' '213' '1065' '346' '24' '286'
 '296' '266' '26' '995' '1368' '393' '182' '635' '258' '780' '589' '347'
 '1250' '1350' '446' '3200' '1050' '1650' '1550' '975' '323' '6500' '2499'
 '1850' '2250' '715' '461' '540' '356' '439' '384' '569' '1900' '22' '785'
 '626' '830' '318' '444' '321' '401' '1499' '888' '369' '770' '386' '366'
 '344' '630' '313' '597' '262' '509' '10000' '278' '312' '789' '1195'
 '422' '21' '765' '3500' '945' '326' '3100' '2486' '3390' '1356' '2599'
 '472' '454' '328' '396' '291']
After coercion:
 count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price, dtype: float64

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]
Total missing:  0

In [19]:
# ------ code for q2.2 ------
import numpy as np # Import the numpy package into your workspace
import matplotlib.pyplot as plt # Import matplotlib into your workspace
import pandas as pd  # Import the pandas package into your workspace

df = pd.read_csv('/home/sharks.csv',low_memory=False)
df.head()

sharks_df = df["Type"]
sharks_df.value_counts() # tabulate num of times each unique val occurs

# combine all values related to boating
sharks_df = sharks_df.replace(["Sea Disaster", "Boat", "Boating", "Boatomg"], "Watercraft")
sharks_df.value_counts()

# combine all vals related to unknown
sharks_df = sharks_df.replace(["Invalid", "Questionable", "Unconfirmed", "Unverified", "Under investigation"], np.nan)
sharks_df.value_counts()

Type
Unprovoked    4716
Provoked       593
Watercraft     583
Name: count, dtype: int64

In [25]:
# ------ code for q2.3 ------
import numpy as np # Import the numpy package into your workspace
import matplotlib.pyplot as plt # Import matplotlib into your workspace
import pandas as pd  # Import the pandas package into your workspace

df = pd.read_csv('/home/pretrial_data.csv',low_memory=False)
df.head()

df.columns.tolist()
released_df = df["released"]
released_df.unique()

# replace missing vals w/ np.nan
released_df = released_df.replace(9, np.nan) # 9's are unclear
released_df.value_counts()

released
1.0    19154
0.0     3801
Name: count, dtype: int64

In [34]:
# ------ code for q2.4 ------
import numpy as np # Import the numpy package into your workspace
import matplotlib.pyplot as plt # Import matplotlib into your workspace
import pandas as pd  # Import the pandas package into your workspace

df = pd.read_csv('/home/pretrial_data.csv',low_memory=False)
df.head()

imposed_df = df["ImposedSentenceAllChargeInContactEvent"]
sen_type_df = df["SentenceTypeAllChargesAtConvictionInContactEvent"]
print(imposed_df.unique())

imposed_df = pd.to_numeric(imposed_df, errors="coerce") # cast to numeric
print(imposed_df.unique())

# create missing dummy
imposed_na = imposed_df.isnull()
print(np.sum(imposed_na),'\n')

print(pd.crosstab(imposed_na, sen_type_df), '\n') # category 4 = charges dismissed

# replace vals for imposed_df w/ False (0) when sen_type = 4
imposed_df = imposed_df.mask(sen_type_df == 4, 0)

# replace vals for imposed_df w/ np.nan when sen_type = 9
imposed_df = imposed_df.mask(sen_type_df == 9, np.nan)

# create missing dummy
imposed_na = imposed_df.isnull()
print(pd.crosstab(imposed_na, sen_type_df), "\n")
print(np.sum(imposed_na), "\n")

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']
[           nan 6.00000000e+01 1.20000000e+01 9.85626283e-01
 3.60000000e+01 6.00000000e+00 2.40000000e+01 5.91375770e+00
 1.20000000e+02 7.20000000e+01 1.19917864e+01 0.00000000e+00
 2.95687885e+00 8.40000000e+01 1.08000000e+02 3.00000000e+02
 2.40000000e+02 1.80000000e+02 4.00000000e+00 9.60000000e+01
 2.00000000e+00 5.40000000e+01 3.28542094e-01 4.40000000e+01
 5.00000000e+00 1.15000000e+02 1.32000000e+02 4.80000000e+01
 2.58000000e+02 3.40000000e+01 7.60000000e+01 1.64271047e-01
 1.31416838e-01 1.11000000e+02 9.00000000e+00 3.00000000e+00
 1.97125257e+00 3.69856263e+01 6.57084189e-02 3.54928131e+01
 1.06492813e+02 8.00000000e+00 3.50000000e+01 1.83141684e+01
 4.80000000e+02 3.20000000e+01 9.30000000e+01 2.34000000e+02
 7.32000000e+02 1.16427105e+00 4.65708419e+00 2.10000000e+01
 7.00000000e+00 4.49281314e+00 1.80000000e+01 6.00000000e+02
 4.31642710e+01 1.79000000e+02 5.20000000e+01 3.00000000e+01
 2.00000000e+01 1.92000000e+02 7.02000000e+02 1.40000000e+01
 5.50000000e+01 5.30000000e+01 1.19055441e+01 1.14000000e+02
 3.50061602e+01 6.80000000e+01 6.57084189e-01 4.66242300e+01
 1.02000000e+02 6.50000000e+01 2.00000000e+02 5.70000000e+01
 2.43285421e+01 1.21642710e+01 1.17000000e+02 8.14928131e+01
 2.24928131e+01 1.98000000e+03 3.65708419e+00 5.60000000e+01
 1.00000000e+01 2.79260780e+00 1.00000000e+00 4.70000000e+01
 2.20000000e+01 1.50000000e+03 4.00000000e+01 2.84000000e+02
 1.10000000e+01 1.18000000e+02 4.20000000e+01 1.62000000e+02
 1.56000000e+02 4.72956879e+01 1.05000000e+02 5.10000000e+01
 2.46000000e+02 2.90000000e+01 7.50000000e+01 3.24000000e+02
 3.60000000e+02 3.44804928e+01 1.20328542e+02 5.99260780e+01
 6.60000000e+01 5.99917864e+01 6.60000000e+02 5.11642710e+01
 1.49568789e+01 3.98562628e+00 7.80000000e+01 2.28000000e+02
 1.47843943e+00 6.20000000e+01 4.80000000e+00 8.60000000e+01
 1.68000000e+02 2.30000000e+01 3.30000000e+01 4.80328542e+01
 7.20000000e+02 3.48000000e+02 1.20000000e+03 2.70000000e+01
 4.90000000e+01 8.70000000e+01 4.20000000e+02 6.30000000e+01
 7.99260780e+01 5.70349076e+01 4.99712526e+01 5.94928131e+01
 1.70000000e+01 2.38492813e+02 6.09856263e+01 1.26000000e+02
 4.50000000e+01 1.58000000e+02 2.16000000e+02 2.27000000e+02
 4.29568789e+01 4.45000000e+02 7.09527721e+01 5.16000000e+02
 1.77821355e+02 1.75200000e+03 9.00000000e+01 1.08000000e+03
 1.41000000e+02 4.82956879e+00 2.30000000e+02 3.10000000e+01
 2.20800000e+03 5.25133470e+01 6.90000000e+01 2.60000000e+01
 3.34928131e+01 1.40000000e+02 1.31000000e+02 3.44000000e+02
 2.19000000e+02 1.01000000e+02 7.10000000e+01 5.90000000e+01
 5.80000000e+01 1.20197125e+02 6.70000000e+01 3.54004107e+01
 3.28542094e+00 4.01642710e+01 9.10000000e+01 1.77412731e+00
 1.55000000e+02 3.44928131e+01 8.10000000e+01 9.23285421e+01
 3.54825462e+00 2.07000000e+02 7.40000000e+01 5.18000000e+02
 2.80000000e+01 8.95687885e+00 2.37000000e+02 4.04673511e+02
 1.81642710e+01 1.07433265e+01 5.51000000e+02 3.90000000e+01
 1.50000000e+01 1.24000000e+02 4.30000000e+01 1.76000000e+02
 1.94928131e+01 4.82000000e+02 1.29000000e+02 8.80000000e+01
 4.60000000e+01 4.58542094e+01 1.28628337e+02 1.36492813e+02
 1.08328542e+02 5.00000000e+01 3.63663244e+02 2.88000000e+02
 2.50000000e+02 1.07000000e+02 8.10225873e+01 4.44000000e+02
 2.05000000e+02 1.06570842e+01 1.90000000e+01 6.69856263e+01
 3.84928131e+01 2.64000000e+02 2.76000000e+02 1.73000000e+02
 2.22000000e+02 1.44000000e+02 2.94000000e+02 3.36000000e+02
 4.31000000e+02 4.50000000e+02 7.30000000e+01 9.93285421e+01
 1.28000000e+02 3.08069815e+01 3.15256674e+01 1.27000000e+02
 2.02000000e+02 5.53285421e+01 8.90000000e+01 2.42000000e+02
 1.31416838e+00 1.02900000e+03 7.88501027e-01 1.94858316e+02
 3.99000000e+02 3.96570842e+01 5.69568789e+01 1.98000000e+02
 1.20985626e+02 4.76570842e+01 1.48000000e+02 6.89938398e+00
 6.53285421e+01 5.95277207e+00 9.85626283e-02 3.32854209e+00
 3.94250513e+00 1.29856263e+01 6.98562628e+00 1.31498973e+01
 1.51642710e+01 1.71971253e+01 1.79137577e+01 1.04000000e+02
 2.12000000e+02 2.46570842e+01 7.26570842e+01 2.98562628e+00
 1.44985626e+02 3.19712526e+01 1.83000000e+02 4.98562628e+00
 1.18213552e+01 2.52000000e+02 1.23942505e+01 4.24928131e+01
 1.01642710e+01 1.11642710e+01 5.49281314e+00 5.96632444e+01
 1.23285421e+01 4.89856263e+01 2.40985626e+02 2.65708419e+00
 5.40000000e+02 2.97125257e+00 6.32854209e+00 2.36632444e+01
 1.33657084e+02 3.53285421e+01 4.56000000e+02 1.03000000e+02
 1.72279261e+00 1.26570842e+01 1.16570842e+01 6.03285421e+01
 3.78850103e+00 5.76000000e+02 2.13141684e+00 4.92000000e+02
 1.49856263e+01 2.49856263e+01 6.19712526e+01 5.65708419e+00
 1.60000000e+01 4.21642710e+01 4.92813142e-01 1.38000000e+02
 1.33141684e+01 1.18932238e+01 5.32854209e+00 9.50000000e+01
 6.26570842e+01 3.08829569e+00 1.18275154e+01 1.64271047e+00
 4.79917864e+01 4.27104723e+00 8.32854209e+00 3.31416838e+00
 7.00000000e+01 7.70000000e+01 1.09856263e+00 4.81642710e+01
 2.74928131e+01 6.93839836e+00 1.01100000e+03 6.89938398e-01
 1.11704312e+00 1.49281314e+00 4.16427105e+00 1.19712526e+00
 4.07392197e+00 1.88000000e+02 1.13285421e+01 3.28542094e-02
 4.32000000e+02 1.19527721e+01 3.64928131e+01 2.39835729e+01
 9.98562628e+00 9.80000000e+01 3.63285421e+01 1.12000000e+02
 3.94250513e-01 1.30000000e+01 2.62833676e-01 1.37987680e+01
 5.88706366e+00 3.54000000e+02 5.91991786e+00 2.41642710e+01
 6.29568789e+01 4.59958932e+00 1.23000000e+02 2.32854209e+00
 2.39240246e+01 2.04000000e+02 1.97000000e+02 1.74000000e+02
 1.61498973e+01 8.40000000e+02 4.40000000e+02 9.89568788e+01
 1.79527721e+01 6.39425051e+01 6.01314168e+01 1.21314168e+01
 1.72952772e+02 1.97125257e-01 1.38164271e+02 4.92813142e+00
 9.19917864e-01 1.89856263e+01 6.65708419e+00 2.85420945e+00
 8.91375770e+00 1.46000000e+02 1.24928131e+01 5.58521561e-01
 7.22792608e-01 5.82135524e+00 8.49856263e+01 6.16427105e+00
 1.59856263e+01 6.45585216e+01 3.82997947e+01 1.19589322e+01
 3.12114990e+00 1.26328542e+02 5.16427105e+00 6.40000000e+01
 4.26570842e+01 3.12000000e+02 1.99712526e+01 8.23285421e+01
 2.39712526e+01 1.76242300e+01 1.21971253e+02 5.96550308e+01
 1.32854209e+00 7.97125257e+00 1.91991786e+00 5.25667351e-01
 9.32854209e+00 4.29856263e+01 4.19137577e+01 7.29856263e+01
 1.24784394e+01 5.19096509e+00 4.73000000e+02 1.66570842e+01
 1.09000000e+02 8.63285421e+01 4.10000000e+01 1.90554415e+00
 9.41642710e+01 3.02000000e+02 4.39425051e+00 1.08213552e+01
 1.83285421e+01 1.54000000e+02 8.30000000e+01 1.10956879e+02
 2.26000000e+02 9.60328542e+01 4.82135524e+00 3.03285421e+01
 3.79712526e+01 5.04640657e+01 2.86000000e+02 9.90000000e+01
 9.94928131e+01 2.66119097e+00 7.09712526e+01 1.39712526e+01
 2.36570842e+01 4.59958932e-01 1.32492813e+02 2.83000000e+02
 4.93141684e+01 2.79856263e+01 3.80000000e+01 7.65708419e+00
 8.36550308e+01 1.09199179e+01 1.62328542e+02 3.70000000e+01
 1.32328542e+02 3.59527721e+01 1.65000000e+02 1.09856263e+01
 2.01642710e+01 2.59137577e+00 1.75000000e+02 1.80985626e+02
 1.03285421e+01 3.61642710e+01 1.20657084e+02 2.32000000e+02
 1.52000000e+02 8.98562628e+00 1.67000000e+02 1.10657084e+01
 1.12032854e+01 5.19712526e+00 3.16427105e+00 6.01642710e+01
 1.18275154e+00 2.11642710e+01 2.19712526e+00 4.19712526e+00
 2.62833676e+00 1.19952772e+02 1.19958932e+02 9.49281314e+00
 5.25667351e+00 1.53285421e+01 2.82135524e+00 1.92985626e+02
 4.86570842e+01 5.95687885e+00 2.29979466e+00 9.60000000e+02
 2.36550308e+00 1.16000000e+02 1.95133470e+01 1.65708419e+00]
9053

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?